

.wrapper{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.heading,.title{
    // font-size: 16px;
    font-size: clamp(0.5rem, 1.0vw, 1rem);
    font-weight: 900;
}
.content, .footer{
    // font-size: 14px;
    font-size: clamp(0.475rem, 1.0vw, 0.875rem);
    border-bottom: 2px solid bebebe;
    font-weight: 300;
}

.button{
    border: 2px solid #126C9C;
    background: transparent;
    color:#126C9C;
    border-radius: 5%;
    width: 5rem;
    margin-right: 1.2rem;
}

.bg{
    color:white;
    background-color: #126C9C;

}

@media (max-width:750px){
    .button{
    width:3.5rem;
    margin-right: 0.5rem;
    }
}

// .page-navigation{
//     ul{
//         list-style-type: none;
//     }
// }

.page-navigation{
    .page
    {
    list-style-type: none;
    }
}

.item a{
    display: inline;
}